{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    {% endblock %}
    <body>
    {% block content %}
<div class="container-fluid">
    <div  style="background-color:#DDAF94; padding-top: 130px;" class="row">
        
        <div class="col-md-2">
           
       
        </div>
        <div class="col-md-8">
        <a href="{{ url_for('main.new_pitch') }}"><button style="color: black;" class="btn btn-success">Post a pitch</button></a>
            <br>
            
            <br>
           
                <div style="background-color:#164A41;" class="card">
                    <article class="media content-section">
                        <div class="card-title">
                           
                            <div class="card-body">
                            
                            <h4>Category:</h4>
                            <small>  </small>
                            
                            <p> </p>
                            <small><a href="#"><button class="btn btn-outline-success btn-sm" id="like"> 
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Bot%C3%B3n_Me_gusta.svg/1200px-Bot%C3%B3n_Me_gusta.svg.png" alt="Upvote" width="30px" height="30px">
                                <!-- <i class="fa fa-heart" id="up"></i> -->
                            </button></a> <p id="name" style="color: white;"></p>  <a href="#"><button class="btn btn-outline-warning btn-sm" id="dislike">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS74bhuasj_h106Bm11-0bx4sNEUSmVc16dHA&usqp=CAU" alt="Downvote" width="30px" height="30px"> </button>
                            <p id="mane" style="color: white;"></p></a></small>
                            <br>
                            <br>
                            <div><a href="/comment/new/{{pitch_id}}"> <button class="btn btn-outline-info btn-sm" id="comment">Comment</button> </a> </div>
                            
                            </div>
                            
                        </div>
                    </article>
                </div>   
           
        </div>
     
    </div>

    
</div>  
<script type="text/javascript">
$(document).ready(function(){
    var like=0
    var dislike=0
    $("#like").click(function(){
        like++;
        document.getElementById("name").innerHTML=like
//   alert("The paragraph was clicked."+''+sum);
});
$("#dislike").click(function(){
        dislike++;
        document.getElementById("mane").innerHTML=dislike
//   alert("The paragraph was clicked."+''+sum);
});
    // document.getElementById("name").innerHTML=sum
})
// var name="ed"
// document.getElementById("name").innerHTML="this is your name" + name
</script>
{% endblock  %}
    </body>