{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
    {% block content %}
<div class="container-fluid">
    <div  style="background-color:#DDAF94; padding-top: 130px;" class="row">
        
        <div class="col-md-2">
       
        </div>
        <div class="col-md-8">
        <a href=""><button style="color: black;" class="btn btn-success">Post a pitch</button></a>
            <br>
            <br>
            
                <div style="background-color:#164A41;" class="card">
                    <article class="media content-section">
                        <div class="card-title">
                           
                            <div class="card-body">
                            
                            <h4></h4>
                            <small>  </small>
                            
                            <p> </p>
                            <small><a href="#"><button class="btn btn-outline-success btn-sm"> 
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Bot%C3%B3n_Me_gusta.svg/1200px-Bot%C3%B3n_Me_gusta.svg.png" alt="Upvote" width="30px" height="30px">
                                <!-- <i class="fa fa-heart" id="up"></i> -->
                            </button></a>  <a href="#"><button class="btn btn-outline-warning btn-sm">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS74bhuasj_h106Bm11-0bx4sNEUSmVc16dHA&usqp=CAU" alt="Downvote" width="30px" height="30px"> </button></a></small>
                            <br>
                            <br>
                            <div><a href=""> <button class="btn btn-outline-info btn-sm">Comment</button> </a> </div>
                            
                            </div>
                            
                        </div>
                    </article>
                </div>   
            
        </div>
     
    </div>

    
</div>  
{% endblock  %}
    </body>